{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}


{{ block.super }}

{% block main %}
<h1>{{ title }}</h1>
<p>Welcome to the Geologic Search Site.  Please log in.</p>

{% errors_for form %}
<form class="form-horizontal" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {%for field in form%}
        {% if field.label != 'KB Weekly Email' and field.label != 'KB Daily Email'%}
        <div class="form-group">
            <label for="{{field.id_for_label}}" class="col-sm-2 control-label"><br />{{field.label}}</label>
            {{field.errors}}
            <div class="col-sm-8">
                {{field}}
            </div>
        </div>
        {% endif %}
    {%endfor%}
    <div class="form-actions">
        {% block account_form_actions %}
        <input class="btn btn-primary btn-lg" type="submit" value="{{ title }}">
        {% endblock %}
    </div>
</form>

{% block forgot_password %}
    <br />
    {% url "our-signup" as signup_url %}
    {% url "mezzanine_password_reset" as password_reset_url %}
    {% url "profile_update" as profile_update_url %}
    {% blocktrans %}<p>You can <a href="{{ password_reset_url }}?next={{ profile_update_url }}"><strong>reset your password</strong></a> if you've forgotten it.</p>{% endblocktrans %}</p>

{% endblock %}

{% endblock %}
{% block sideBar %}
{{ block.super }}
{% endblock %}