{% extends "base.html" %}

{% load pages_tags mezzanine_tags i18n staticfiles %}
{% block meta_title %}
    Bioerosion TDM Search
{%endblock%}
{% block extra_js %}
<script src="{% static 'js/search.js' %}"></script><!-- should we serve this from our server? -->
{% endblock %}
<!-- Main content of the page-->
{% block main %}
	{{ block.super }}
		{% if page %}
            <p>{{page.first.richtextpage.content|richtext_filters|safe}}</p>
		{% else %}
            <div class="row fullscreen align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 banner-left">
                    <form class="form-horizontal" method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                        <p>Terms</p>
                        <p><input type="text" name="search_1" /> <button data-next="2">Add 2nd Term</button></p>
                        <p class="search_2"><input type="text" name="search_2" /> <button data-next="3">Add 3rd Term</button></p>
                        <p class="search_3"><input type="text" name="search_3" /></p>
                        <p><input type="text" name="proximity" size="3" /> <label for="proximity">Proximity</label></p>
                        <p><input type="checkbox" name="proximity_exp" /> <label for="proximity_exp">Expand proximity</label></p>
                        <p><a href="#" class="primary-btn text-uppercase">Search</a></p>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
                    <div class="search-results"></div>
                </div>
            </div>

		{% endif %}
{% endblock %}