{% load pages_tags mezzanine_tags i18n staticfiles dict_tags %}

<div class="search-results-list-journals">
    <div class="export-search-list">
        <img src="{% static 'img/export-icon.png' %}"/>
    </div>
    <h3>Results</h3>
    <p>{{ results.journal_count }} journals totaling {{ results.unique_result_count }} results</p>
    {% for j in results.journals %}
    <div class="search-results-item-journal">
        <p><img src="{% static 'img/journal-icon.jpg' %}"/>
            <a data-term1="{{ search_context.term1 }}" data-term2="{{ search_context.term2 }}"
               data-term3="{{ search_context.term3 }}" data-st="{{ search_context.st }}"
               data-journal="{{ j }}" href="#">
                {{ j }}  - {{ results|keyvalue:j|resultcount }} result(s)
            </a>
        </p>
    </div>
    {% endfor %}
</div>
